<template>

    <div class="page page-home">
        <div class="navbar navbar-style-1" style="box-shadow: rgb(177 91 16 / 39%) -1px 1px 8px 0px">
            <div class="navbar-inner">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                   
                   <img src="assets/img/maps.png" width="30px" /> 
                </a>
                <div class="title">
                    GPS INFOS
                </div>
                <div class="right">
                    <a href="/notification" class="link"> 
                        <div class="bell-icon">
                            <i class="fa fa-circle color-theme-orange active"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 32 32">
                                <path d="M27.868,25.5,26,22.234V14A10,10,0,0,0,6,14v7.128L4.081,25.606A1,1,0,0,0,5,27h6.1a5,5,0,0,0,9.8,0H27a1,1,0,0,0,.868-1.5ZM16,29a3,3,0,0,1-2.816-2h5.632A3,3,0,0,1,16,29ZM6.517,25l1.4-3.272a.994.994,0,0,0,.081-.4V14a8,8,0,0,1,16,0v8.5a.993.993,0,0,0,.132.5l1.145,2Z"/>
                                <path d="M14,3h4a1,1,0,0,0,0-2H14a1,1,0,0,0,0,2Z"/>
                            </svg>
                        </div>
                    </a>

                    
                </div>
            </div>
        </div>
      

        <!-- Page Content -->
        <div class="page-content content-area pt-80 pb-5">
            
            <br/><br/>
            <div class="container">

                <div id="map" style="height: 900px;width: 100%"></div>

                <div class="container" style="z-index: 9999">
                
                    <div class="list simple-list searchbar-not-found">
                        <ul>
                            <li>Aucun résultat</li>
                        </ul>
                    </div>
                    
                </div>

            </div>
            
            
        </div>
        
    </div>

</template>



<script>

    export default (props, { $,$on, $f7, $update }) => {

      var $ = Dom7;


      $on('pageInit', () => {


            var map = L.map('map').setView([12.3499,-1.519920],13);
            var x = "12.371530";
            var y = "-1.519920";

            L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=oMB1ATTkNnTr6c8uoK6J', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">Mr Z</a> contributors',
                maxZoom: 22,
                tileSize: 512,
                zoomOffset: -1
            }).addTo(map);


           L.marker([y, x]).bindPopup('<b>Université 1<b>', {autoClose:true}).addTo(map).on('click', onClick).openPopup();


    });


  return $render;
}

</script>

