// Item Details
.item-detail{
	.title{
		margin: 0;
	}
	.tag-list{
		li{
			a{
				font-size: 16px;
			}
		}
	}
	.price{
		margin: 0;
	}
	.cart-btn{
		height: 64px;
		width: 64px;
		display: block;
		text-align: center;
		line-height: 64px;
		border-radius: 50%;
		position: absolute;
		background-color: var(--f7-theme-color);
		right: 30px;
		top: -30px;
		box-shadow: 0 0 40px;
		svg{
			height: 64px;
		}
	}
}
.add-wishlist-btn{
	.fas{
		display: none;
	}
	&.active{
		.far{
			display: none;
		}
		.fas{
			display: block;
		}
	}
	i{
		font-size: 24px!important;
		margin: 0;
	}
}
.reviews-info{
	margin-bottom: 25px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 15px;
	display: flex;
    align-items: center;
    justify-content: space-between;
	
	ul{
		padding: 0;
		margin: 0;
		li{
			display: inline-block;
			margin-right: 5px;
			i {
				color: #ff8900;
				font-size: 14px;
			}
		}
	}
	.reviews{
		margin: 0;
		.reviews-text{
		    font-size: 16px;
			opacity: 0.5;
			margin-left: 5px;
		}
	}
}